{% load static %}

<!-- ======= Hero Section ======= -->
<section id="hero">
 <div class="carousel slide carousel-fade" data-bs-interval="5000" data-bs-ride="carousel" id="heroCarousel">
  <div class="carousel-inner" role="listbox">
   <!-- Slide 1 -->
   <div class="carousel-item active" style="background-image: url(assets/img/slide/slide-1.jpg);">
    <div class="carousel-container">
     <div class="carousel-content animate__animated animate__fadeInUp">
      <h2>
       Welcome to
       <span>
        Company
       </span>
      </h2>
      <p>
       Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.
      </p>
      <div class="text-center">
       <a class="btn-get-started" href="">
        Read More
       </a>
      </div>
     </div>
    </div>
   </div>
   <!-- Slide 2 -->
   <div class="carousel-item" style="background-image: url(assets/img/slide/slide-2.jpg);">
    <div class="carousel-container">
     <div class="carousel-content animate__animated animate__fadeInUp">
      <h2>
       Lorem Ipsum Dolor
      </h2>
      <p>
       Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.
      </p>
      <div class="text-center">
       <a class="btn-get-started" href="">
        Read More
       </a>
      </div>
     </div>
    </div>
   </div>
   <!-- Slide 3 -->
   <div class="carousel-item" style="background-image: url(assets/img/slide/slide-3.jpg);">
    <div class="carousel-container">
     <div class="carousel-content animate__animated animate__fadeInUp">
      <h2>
       Sequi ea ut et est quaerat
      </h2>
      <p>
       Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.
      </p>
      <div class="text-center">
       <a class="btn-get-started" href="">
        Read More
       </a>
      </div>
     </div>
    </div>
   </div>
  </div>
  <a class="carousel-control-prev" data-bs-slide="prev" href="#heroCarousel" role="button">
   <span aria-hidden="true" class="carousel-control-prev-icon bi bi-chevron-left">
   </span>
  </a>
  <a class="carousel-control-next" data-bs-slide="next" href="#heroCarousel" role="button">
   <span aria-hidden="true" class="carousel-control-next-icon bi bi-chevron-right">
   </span>
  </a>
  <ol class="carousel-indicators" id="hero-carousel-indicators">
  </ol>
 </div>
</section>

<!-- ======= End Hero Section ======= -->