{% extends 'base.html' %}

{% load static %}

{% block contact.html %}

<!DOCTYPE html>
<html lang="en">
 <body>
  <!-- ======= Header ======= -->
  <!--==== extended from base.html ====--->
  <!-- End Header -->
  <main id="main">
   <!-- ======= Breadcrumbs ======= -->
   {% includes 'partials/breadcrumbs.html'  %}
   <!-- End Breadcrumbs -->
   <!-- ======= Contact Section ======= -->
   <div class="map-section">
    <iframe allowfullscreen="" frameborder="0" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" style="border:0; width: 100%; height: 350px;">
    </iframe>
   </div>
   {% includes 'partials/contact.html'  %}
   <!-- End Contact Section -->
  </main>
  <!-- End #main -->
  <!-- ======= Footer ======= -->
  <!--==== extended from base.html ====--->
  <!-- End Footer -->
  <a class="back-to-top d-flex align-items-center justify-content-center" href="#">
   <i class="bi bi-arrow-up-short">
   </i>
  </a>
  <!-- Vendor JS Files -->
  <!-- Template Main JS File -->
 </body>
</html>

{% endblock %